@font-face {
    font-family: custom;
    src: url(../fonts/camcorder_ms_reg_6pre-webfont.ttf)
}

body{
    font-family: custom;
    font-size: 24px;
    background: black;
    color: rgb(72, 255, 87);

}

.game {
    width: auto;
}

h1{
    text-align: center;
    /* color: ghostwhite; */
    color: rgb(72, 255, 87);
}

.player{
    /* color: ghostwhite; */
    color: rgb(72, 255, 87);
    text-align: center;
    padding: 30px 30px 30px 0px;
    position: relative;
    
}

.select-row {
    padding-left: 320px;
    padding-right: 320px;
    height: 100px;
}

.player-select:hover{
    /* background: rgb(233, 197, 152); */
    /* background: rgb(195, 228, 164) */
    border-style: solid;
    border-width: 1px;
    /* border-color: ghostwhite; */
    border-color: rgb(72, 255, 87);
    
}

.player-select:hover .hp{
    /* background:rgba(228, 228, 228, 0.536) */
    border-style: solid;
    border-width: 1px;
    /* border-color: ghostwhite; */
    border-color: rgb(72, 255, 87);
}


.hp {
    position: absolute;
    right: 3px;
    top: 3px;
    text-transform: uppercase;
    font-size: 16px;
    padding:5px; 
    
}

.placard {
    /* background-image: url(../images/green-strip.JPG); */
    /* background: rgb(0, 0, 0); */
    /* transition-property: background-image;
    transition-duration: 2s; */
    /* background-blend-mode: overlay; */
    height: 178px;
    width: 100%;
    z-index: 1;
}

.placard-row{
    z-index: 3;
    padding-top: 10px;
    padding-left: 240px;
    padding-right: 240px;
    height: inherit;
}

.player-atk,.player-def{
    color:rgb(188, 184, 192,0);
    padding: 60px 50px 60px 50px;
    border-style: solid;
    border-width: 1px;
    /* transition-property: color,background,border-color; */
    /* transition-duration: .5s; */
    /* box-shadow: 5px 5px 0px ghostwhite */
    
}




/* .player-atk-wrap,
.player-def-wrap {
    content: " ";
    position: absolute;
    z-index: -1;
    top: -15px;
    bottom: -15px;
    right: -15px;
    left: -15px;
    border: 1px solid rgb(72, 255, 87);
    transition-property: top,left,right,bottom;
    transition-duration: 1s;
} */

.player-atk {
    /* color: rgb(76, 186, 223); */
    border-color: rgb(76, 186, 223);
    /* box-shadow: 0px 0px 120px rgb(76, 186, 223) */
    margin-right: 30px;
    position: relative;
}

.player-def{
    /* color: rgb(255, 101, 101); */
    border-color: rgb(255, 101, 101);
    /* box-shadow: 0px 0px 120px rgb(255, 101, 101) */
    margin-left: 30px;
    position: relative;
}

/* .p-def-name,
.p-atk-name {
    position: absolute;
    top: 30px;
    z-index: 4;
} */

.p-atk-hp,.p-def-hp{
    /* top: 20px;
    right: 20px;
    z-index: 4; */
    /* transition-property: color,border-color; */
    /* transition-duration: 0.5s; */
}

.p-atk-hp{
    /* background:rgba(228, 228, 228, 0.536); */
    border-style: solid;
    border-width: 1px;
    border-color: rgb(76, 186, 223);
}
.p-def-hp{
    /* background:rgba(228, 228, 228, 0.536); */
    border-style: solid;
    border-width: 1px;
    border-color: rgb(255, 101, 101);
}

.activity-log,.timer{
    font-size: 12px;
    font-family: 'Courier New', Courier, monospace;
    overflow: scroll;
    height: 200px;
}

.activity-log{
    /* position: absolute */
    margin-left: 200px;
    text-align: bottom; 
    width: 50%;
    color: rgb(72, 255, 87);
    font-size: 15px;
}

.timer {
    font-size: 20px;
    position: absolute;
    right: 20px;
    bottom: 0px;
}

button {
    border: none;
    background: none;
    /* color: ghostwhite; */
    color: rgb(72, 255, 87);
}

button:hover {
    text-decoration: underline
}

.atk-button {
    visibility: hidden;
    float:left;
    margin-left:35%;
    /* margin-right:30%; */
    transition-property: visibility;
    transition-duration: 3s;
    
}

.restart {
    position: absolute;
    right: 370px;
    bottom: 0px;
    font-family: 'Courier New',Courier,monospace;
    /* visibility: hidden; */
}

a{
    background: none;
    padding: 2px 8px 2px 8px;
    text-decoration: none;
    color: black;
    /* color: rgb(72, 255, 87); */
    border-style: solid;
    border-width: 1px;
    border-color:black;
    /* border-color:rgb(72, 255, 87); */
    transition-property: color,border-color;
    transition-duration: 4s;
}

a:hover{
    text-decoration: none;
    color:rgb(188, 184, 192);
    border-color:rgb(188, 184, 192);
}

.sonar-box {
    position: fixed;
    top:250px;
    right:0px;
}

.sonar-gif {
    border: 1px solid black;
    border-radius: 300px;
    filter: contrast(120%)
}

.atk-pts {
    color: rgb(255, 57, 57);
    /* font-size: 20px */
}

/* .champion {
    color: rgb(37, 37, 255)
} */