body{
    font-size: 24px;
    /* background: ghostwhite; */
}

h1{
    text-align: center;
}

.player{
    text-align: center;
    padding: 30px 30px 30px 0px;
    position: relative;
}

.player-select:hover{
    background: rgb(233, 197, 152)
    /* background: rgb(195, 228, 164) */
}

.player-select:hover .hp{
    background:rgba(228, 228, 228, 0.536)
}


.hp {
    position: absolute;
    right: 3px;
    top: 3px;
    text-transform: uppercase;
    font-size: 16px;
    padding:10px; 

}





.player-atk{
    padding: 60px 50px 60px 50px;
    background: lightblue;
    color: lightblue;
}

.player-def{
    padding: 60px 50px 60px 50px;
    background: rgb(255, 101, 101);
    color: rgb(255, 101, 101);
}

.p-atk-hp,.p-def-hp{
    background:rgba(228, 228, 228, 0.536);
    
}

.activity-log,.timer{
    font-size: 12px;
    font-family: 'Courier New', Courier, monospace;
    overflow: scroll;
    height: 270px;
   

}

.activity-log{
    text-align: bottom; 
    width: 80%;
}

.timer {
    font-size: 20px;
    position: absolute;
    right: 100px;
    bottom: 0px;
}

button {
    border: none;
    
}

button:hover {
    text-decoration: underline
}

.atk-button {
    visibility: hidden;
    float:left;
    margin-left:35%;
    /* margin-right:30%; */
    transition-property: visibility;
    transition-duration: 1s;
}

.restart {
    position: absolute;
    right: 100px;
    bottom: 50px;
    font-family: 'Courier New',Courier,monospace;
}

a{
    text-decoration: none;
    color: rgb(164, 143, 186);
    transition-property: color,border-color;
    transition-duration: 1s;
    border-style: solid;
    border-width: 1px;
    border-color:rgb(164, 143, 186);
    padding: 2px 8px 2px 8px;
    background: rgb(255, 255, 255);
}

a:hover{
    text-decoration: none;
    color:rgb(188, 184, 192);
    border-color:rgb(188, 184, 192);
}

